<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>

    <div id="app" class="row"> 
    		<div class="col-md-8">
	        <div v-for="card in cards | orderBy 'name'" style="cursor:pointer"> 
	            <Card :card="card" @click="addToDeck(card)"></Card>
	        </div>
    		</div>
    		<div class="col-md-4">
    			<h1>Deck ({{deckTotal()}}/30)</h1>
	        <div v-for="card in deck | orderBy 'cost'" style="cursor:pointer">
	            <p @click="addToCollection(card)">{{card.cost}} {{card.name}} {{card.copy}}</p>
	        </div>
    		</div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="build/bundle.js"></script>
  </body>
</html>
